@charset "UTF-8";


div#side_left{
width:200px;
height:400px;
background-color:#ececec;
float:left;
margin:5px;
}

#side_left_box{
width:95%;
height:45%;
float:left;
margin:5px;
}

#mid_content{
width:400px;
height:400px;
float:left;
margin:5px;
}

#side_content_box{
display: inline;
margin:5px;
}

#side_rigth{
width:200px;
height:400px;
float:left;
margin:5px;
}

#side_rigth_box{
width:95%;
height:45%;
margin:5px;
margin-top:95%;
}